//@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
:root {
  --hero-image-opacity: .5;
}

/*
.betterHero {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}


.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}
*/

  .textTruncate {
    /* Truncate the text on the title or text of the card */
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .cardHideOverflow {
    /* Hide overflow to keep the zoom within the card */
    overflow: hidden;
  }
  
  .cardImgOverlay {
    background: rgba(0, 0, 0, var(--hero-image-opacity));
    bottom: 0;
    top: auto;
  }
  
  .leaderPhoto {
    height: 200px;
    object-fit: cover;
    /* Smooth zoom transition */
    transition: transform .3s ease-in-out !important;
    

    &:hover {
      transform: scale(1.05);
    }
  }
  
  .card:hover .leaderPhoto {
    /* Zoom in on hover */
    transform: scale(1.05);
  }
