//@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
  :root {
    --hero-image-opacity: .5;
    --hero-image-height: 200px;
    --hero-image-text-overlay-background: rgba(0, 0, 0, var(--hero-image-opacity));
  }

  .textTruncate {
    /* Truncate the text on the title or text of the card */
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .cardHideOverflow {
    /* Hide overflow to keep the zoom within the card */
    overflow: hidden;
  }
  
  .cardImgOverlay {
    background: var(--hero-image-text-overlay-background);
    bottom: 0;
    top: auto;
  }
  
  .leaderPhoto {
    height: 200px;
    object-fit: cover;
    /* Smooth zoom transition */
    transition: transform .3s ease-in-out !important;
    

    &:hover {
      transform: scale(1.05);
    }
  }

  .customCol {
    float: left;
  }

  /* Specific column count styles */
  .customCol7 {
      width: calc(100% / 7);
  }

  .customCol8 {
      width: calc(100% / 8);
  }

  .customCol9 {
      width: calc(100% / 9);
  }

  .customCol10 {
      width: calc(100% / 10);
  }

  .customCol11 {
      width: calc(100% / 11);
  }

  .customCol12 {
      width: calc(100% / 12);
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
      .customCol {
          width: 50%;
          /* 2 columns for medium screens */
      }
  }

  @media (max-width: 576px) {
      .customCol {
          width: 100%;
          /* 1 column for small screens */
      }
  }
  
 
