.card {
    /* Hide overflow to keep the zoom within the card */
    overflow: hidden;

}

.custom-card-size {}

.card-img-overlay {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    top: auto;
}

.leader-photo {
    height: 350px;
    object-fit: cover;
    /* Smooth zoom transition */
    transition: transform .3s ease-in-out;

}

.card:hover .leader-photo {
    /* zoom in on hover */
    transform: scale(1.05);

}